@import controllers.forms.UpdateRegionForm
@(region: Form[UpdateRegionForm], users: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.FormRegionController.updateRegionHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@region("id").value" type="hidden" />
    @inputText(region("address"))
    @inputText(region("city"))
    @inputText(region("zip"))
    @inputText(region("state"))
    @inputText(region("country"))

    <label for="product"></label>

    <label for="user"></label>
    <select name="userId" id="user">
    @for(user <- users) {
        @if(user.id.toString == region("user").value.getOrElse(0)) {
            <option value="@user.id" selected>@user.email</option>
        } else {
            <option value="@user.id">@user.email</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Region"/>
    </div>
}