@import controllers.forms.UpdateVoucherForm
@(voucher: Form[UpdateVoucherForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.FormVoucherController.updateVoucherHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@voucher("id").value" type="hidden" />
    @inputText(voucher("code"))
    @inputText(voucher("value"))

    <div class="buttons">
        <input type="submit" value="Update Voucher"/>
    </div>
}