@import controllers.forms.CreateProductForm
@(product: Form[CreateProductForm],  categories: Seq[Category], brands: Seq[Brand])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.forms.routes.FormProductController.createProductHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    @inputText(product("amount"))
    @inputText(product("unitPrice"))
    @inputText(product("description"))

    <label for="brand"></label>
    <select name="brandId" id="brand">
    @for(brand <- brands) {
        <option value="@brand.id">@brand.name</option>
    }
    </select>

    <label for="category"></label>
    <select name="categoryId" id="category">
    @for(category <- categories) {
        <option value="@category.id">@category.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}